<div kendo-grid k-data-source="transactions"
     k-selectable="'row'"
     k-pageable='{ "refresh": false, "pageSizes": [10, 20, 50, 100] }'
     k-columns='[
            { "field": "transaction.Account", "title": "Account"},
            { "field": "transaction.Fee", "title": "Fee"},
            { "field": "transaction.TransactionType", "title": "Type" },
            { "field": "transaction.date", "title": "Date", format: "{0:yyyy-MM-dd HH:mm:ss.sss}" },
            { "field": "validated", "title": "Validated" }
           ]'
     k-sortable="true"
     k-groupable="false"
     k-filterable="true"
     k-on-change="selectedItem = data">
</div>